<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <title>React SSR</title>
        <meta charset="utf-8">
        <meta name="author" content="Deepak Adhana">
        <meta name="description" content="Website to practice html tags">
        <meta name='viewport' content='width=device-width,width = 320, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0, user-scalable=yes'>
        <link rel="stylesheet" href="static/css/style.css" type="text/css">
        <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
        <script defer src="static/js/dist/main.bundle.js"></script>
        <script defer src="static/js/dist/vendor.bundle.js"></script>
        <script defer src="static/js/class_example.js"></script>
    </head>
    <body>
        <main id="root">
            
        </main>
    </body>
</html>



<!--rectangle width 200px X 200px, 3 rectangle [Desktop]--> 
<!--rectangle width 200px X 200px, 3 rectangle [Mobile]--> 

<!-- 
    <section id="main_wrapper">
                <div class="rectangle_1">
                    <h4>Rectangle 1</h4>
                </div>
                <div class="rectangle_2">
                    <h4>Rectangle 2</h4>
                </div>
                <div class="rectangle_3">
                    <h4>Rectangle 3</h4>
                </div>
    </section>
-->